# Archivos de compilación y dependencias
target/
*.class

# Configuración de Eclipse, IntelliJ IDEA y NetBeans
/.idea/
/*.iml
/.vscode/
/*.ipr
/.settings/
/*.iws
/.nbproject/private/

# Archivos generados por Maven
.mvn/
mvnw
mvnw.cmd
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Repositorio local de Maven (si lo tienes dentro del proyecto, lo cual no es común)
/.m2/

# Archivos de logs
*.log

# Archivos específicos de SO
.DS_Store
Thumbs.db